body{
    background-color: white;
    font-family: font2;
}
  
  
  @media (min-width: 1200px) {
    .container-fluid {
      max-width: 1500px;
    }
  }

/* @font-face {
    font-family: Karmella;
    src: url('../source/font/Karmella.woff') format('woff');
} */

@font-face {
  font-family: font2;
  src: url('../source/font/VCR_OSD_MONO_1.001.woff') format('woff');
}