
body{
    background-color: white;
    font-family: font2, pixelChinese;
    color:black !important;
    /* background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E'); */
}

.dropdown-item.active, .dropdown-item:active {
  color: black;
  text-shadow: #FC0 1px 0 10px;
  background-color: rgba(255,255,255,0); 
}

.dropdown-item, .dropdown-item:visited{
color: black;
}

.navbar-brand{
color: black;
}

.navbar-brand:hover, .dropdown-item:hover{
color: #7d85ce;
}

nav img{
  width: 30px !important;
  aspect-ratio: auto !important;
  padding: 0% !important;
}

img{
  border-radius:10px !important;
}

nav{
  backdrop-filter: blur(20px);
  mask-image: linear-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,0));
  padding: 3% 0 !important;
}

h2{
  margin:1% auto 0 auto !important;
  text-align: center;
}

h2, .neonText{
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
  
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1500px;
  }
}

@font-face {
    font-family: Karmella;
    src: url('../source/font/Karmella.woff') format('woff');
}

@font-face {
  font-family: font2;
  src: url('../source/font/VCR_OSD_MONO_1.001.woff') format('woff');
}

@font-face {
  font-family: pixelChinese;
  src: url('../source/font/ark-pixel-12px-monospaced-zh_cn.woff2') format('woff2');
}

hr{
  border-top: 0.4vh dotted;
  margin: 3% auto;
  width: 20% !important;
  opacity: 0.2 !important;
}


.button{
  color: #ffffff;
  text-decoration: none;
  background-color:rgba(69, 69, 69, 0.7);
  width: 80%;
  border-radius: 10px !important;
  box-shadow: 5px 5px 0px 0px #636bb4;
  position: relative;
  z-index: 2;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius:25%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: hue-rotate(120deg) brightness(200%);
  box-shadow: 0 0 20px 2px rgb(203, 203, 203);
  /* -webkit-mask-box-image: url(../source/mask.png) 75 stretch;
  opacity: 0.6; */
} 


@keyframes animate{
  100%{
    filter: hue-rotate(360deg);
  }
}

video{
  z-index: 2;
}

iframe{
  z-index: 2;
}

video{
  width: 90%;
}